framework:
    messenger:
        transports:
            public: '%env(MESSENGER_TRANSPORT_DSN)%'
            private: 'sync://'
        default_bus: messenger.bus.command
        buses:
          messenger.bus.command:
            middleware:
              - validation
          messenger.bus.query:
            middleware:
              - validation
          messenger.bus.event:
            default_middleware: allow_no_handlers

        serializer:
            default_serializer: messenger.transport.symfony_serializer
            symfony_serializer:
                format: json
                context: { }

        routing:
            # Route your messages to the transports
             'App\Application\Command\PublicCommand': public
             'App\Application\Event\PublicEvent': public
             'App\Application\Query\PrivateQuery': private
