version: '3'

services:
  php:
    build: ./etc/dev/php
    volumes:
      - .:/app
    depends_on:
      - redis
    ports:
    - "1337:1337"
    command: ['/app/bin/console', 'gos:websocket:server', '-vvvv', '-m']

  rmq:
    image: rabbitmq:3-management
    environment:
      RABBITMQ_ERLANG_COOKIE: "SWQOKODSQALRPCLNMEQG"
      RABBITMQ_DEFAULT_USER: "guest"
      RABBITMQ_DEFAULT_PASS: "guest"
      RABBITMQ_DEFAULT_VHOST: "/"
    ports:
      - "15672:15672"
      - "5672:5672"

  redis:
    image: redis:5-alpine
    ports:
      - "6379:6379"
